*{
    margin: 0;
    padding: 0;
    
}
.btn-primary{
    padding: 15px 30px;
    background: #E55473;
    font-size: 18;
    font-family: lato;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
}
/* Banner related style start */
.banner{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 150px;
}
.banner-title{
    font-family: lato;
    font-weight: 800;
    font-size: 80px;
    color: #272727;
    margin-top: 5px;
    margin-bottom: 30px;
}
.banner-description{
    font-size: 18px;
    font-family: lato;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 30px;
}
.banner>img{
    width: 500px;
}
/* banner related style end */

/* flower feature related style start*/

.all-feature{
    margin-top: 120px;
}
.feature-content{
    text-align: center;

}
.flower-feature-title{
    color: #272727;
    margin-bottom: 25px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}
.flower-feature-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.feature-section{
    margin: 130px 130px 100px 130px;
}
.feature{
    height: 500px;
    width: 400px;
    position: relative;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 50% 50% 0 0;
}
.feature-section{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.feature img{
   
    position: absolute;
    bottom: 0;
    left: 35px;
    
    
}
.feature-title{
   text-align: center;
   text-decoration: underline;
   margin-top: 20px;
}

/* flower feature related style end*/

/* delivey and support section related style start*/
.delivery-and-support-section{
    margin: 130px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.delivery-and-support{
   text-align: center;
    padding: 40px 60px;
}
/* delivey and support section related style end */

/* Discount section related style start*/
.discount-section{
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: rgba(229, 84, 115, 0.05);
    padding: 150px 200px;
}

.discount-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}
.discount-title> span{
    color: #E55473;
}
.discount-section> img{
    width: 318px;
    height: 420px;
}
.discount-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
/* Discount section related style end*/

/* instagram section related style start*/
.instagram-section{
    margin: 130px 130px 0 130px;
}
.instagram-content{
    text-align: center;
}
.instagram-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;

}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
 .instagram-image{
    display: flex;
    gap: 24px;
    justify-content: space-around;
   
 }
 /* instagram section related style end*/

/* Latest deal section related start */
.latest-deal-section{
    align-items: center;
    text-align: center;
    margin: 130px;
    background-image: url(Flower-asset/Rectangle\ 9.png);
    height: 449px;
    border-radius: 8px;
}
.latest-deal-content{
   margin-top:120px ;
   padding: 150px 100px 20px 100px;
    
}
.latest-deal-title{

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    
}
.latest-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.latest-deal-subscription input{
    padding-left: 20px;
    width: 600px;
    height: 50px;
    border: 0;
    border-radius: 10px;

}
/* Latest deal section related end */

/* Contact section related style start */
.contact-section{
    margin: 130px;
    background: gray;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    
}

.contact-section input[type="email"],textarea{
    display: block;
    font-size: 18px;
    padding: 18px 35px;
    border-radius: 10px;
    width: 50%;
    border: .05 solid gray;
    background: rgb(255, 252, 252);
    margin-bottom: 10px;
    margin-left: 25%;
}
.contact-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 50px;
}
/* Contact section related style end */


/* Footer related style start*/
.footer-section{
    background: #111010;
    text-align: center;
    padding: 100px 0 100px 0;
}
.footer-title{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 25px;
   
}
.footer-title>span{
    color: #fff;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}
.footer-end-title{
    color: rgba(255, 255, 255, 0.40);
font-family: Lato;
font-size: 16px;
font-weight: 400;

}
/* Footer related style end*/