*{
    margin: 0;
    padding: 0;
    
}
.btn-primary{
    padding: 15px 30px;
    background: #E55473;
    font-size: 18;
    font-family: lato;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
}
/* Banner related style start */
.banner{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 150px;
}
.banner-title{
    font-family: lato;
    font-weight: 800;
    font-size: 80px;
    color: #272727;
    margin-top: 5px;
    margin-bottom: 30px;
}
.banner-description{
    font-size: 18px;
    font-family: lato;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 30px;
}
.banner>img{
    width: 500px;
}
/* banner related style end */

/* flower feature related style start*/
/* main .feature-section{
    margin-top: 130px;
}
.flower-feature{
    text-align: center;
}

.flower-feature-title{
    
    font-family: lato;
    font-size: 40px;
    font-weight: bold;
    color: #272727;
    margin-bottom: 20px;
}
.flower-feature-description{
   
    font-family: lato;
    font-weight: 400;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
}

.feature-flower{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.feature-pic{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
 background: rgba(167, 33, 98, 0.15)
}
.feature-pic img{
    width: 310px;
   height: 428px;
} */
/* delivey and support section related style */
.delivery-and-support-section{
    margin: 130px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.delivery-and-support{
   text-align: center;
    padding: 40px 60px;
}
/* Discount section related style */
.discount-section{
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding: 150px 200px;
}
.discount-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}
.discount-title> span{
    color: #E55473;
}
.discount-section> img{
    width: 318px;
    height: 420px;
}
.discount-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
/* instagram section related style */
.instagram-section{
    margin: 130px 130px 0 130px;
}
.instagram-content{
    text-align: center;
}
.instagram-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;

}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
 .instagram-image{
    display: flex;
    gap: 24px;
    justify-content: space-around;
   
 }

/* Latest deal section related */
.latest-deal-section{
    align-items: center;
    text-align: center;
    margin: 130px;
    background-image: url(Flower-asset/Rectangle\ 9.png);
    height: 449px;
}
.latest-deal-content{
   margin-top:120px ;
   padding: 150px 100px 20px 100px;
    
}
.latest-deal-title{

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    
}
.latest-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.latest-deal-subscription input{
    width: 600px;
    height: 50px;
    border: 0;
    border-radius: 10px;

}